<div class="col-12 col-md-6">
	<h1 class="h1-strong">{{ 'message.addTitle' | translate }}</h1>

	<div class="row">
		<div class="profile-list col-lg-12">
			<ul class="nav navbar-nav">
			    <li>
			    	<a [routerLink]="['/profile/'+identity._id]" [routerLinkActive]="['active']">
					<span class="glyphicon glyphicon-user"></span>
			        {{ 'home.myProfile' | translate }}
			    	</a>
			    </li>

			    <li>
			    	<a [routerLink]="['/profile/my-reviews']" [routerLinkActive]="['active']">
					<span class="glyphicon glyphicon-pencil"></span>
			        {{ 'home.myReviews' | translate }}
			        </a>
			    </li>

			    <li>
			    	<a [routerLink]="['/profile/messages']" [routerLinkActive]="['active']">
					<span class="glyphicon glyphicon-envelope"></span>
			        {{ 'home.myInbox' | translate }}
			        </a>
			    </li>
			</ul>
		</div>
	</div>


  	<div class="col-lg-12" id="messages">
		<!-- formulario envio mensajes -->
		<div class="alert alert-success" *ngIf="status == 'success'">
			{{ 'message.sentSuccessful' | translate }}, <a [routerLink]="['/profile/messages/sent']"></a> 
		</div>

		<div class="alert alert-danger" *ngIf="status == 'error'">
			{{ 'message.sentFailed' | translate }}
		</div>

		<form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
			<p *ngIf="destUser">
				<label>{{ 'message.for' | translate }}: </label>
				{{destUser.lastname}},{{destUser.name}} 
			</p>
			
			<p> 
				{{ 'message.reference' | translate }}: {{refAddress}}
			</p>

			<p>
				<label>{{ 'message.message' | translate }}: </label>
				<textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required maxlength="350"></textarea>
				<span *ngIf="!text.valid && text.touched">
					{{ 'message.messageObligatory' | translate }}
				</span>
			</p>

			<input type="submit" value="{{ 'message.addTitle' | translate }}" class="btn btn-primary" [disabled]="!formAdd.form.valid"/>
		</form>
	</div>
</div>