<div class="col-12 col-md-4 col-md-offset-4">
	<h1 class="h1-strong">{{ 'profile.title' | translate }}</h1>

	<div class="row">
		<div class="profile-list col-lg-12">
			<ul class="nav navbar-nav">
			    <li>
			    	<a [routerLink]="['/profile/'+user._id]" [routerLinkActive]="['active']">
					<span class="glyphicon glyphicon-user"></span>
			        {{ 'home.myProfile' | translate }}
			    	</a>
			    </li>

			    <li>
			    	<a [routerLink]="['/profile/my-reviews']" [routerLinkActive]="['active']">
					<span class="glyphicon glyphicon-pencil"></span>
			        {{ 'home.myReviews' | translate }}
			        </a>
			    </li>

			    <li>
			    	<a [routerLink]="['/profile/messages']" [routerLinkActive]="['active']">
					<span class="glyphicon glyphicon-envelope"></span>
			        {{ 'home.myInbox' | translate }}
			        </a>
			    </li>
			</ul>
		</div>
	</div>

	<div class="user-info form-horizontal">
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label">{{ 'profile.name' | translate }}</label>
			<div class="col-sm-9">
				<label id="name" class="form-control">{{user.name}}</label>
			</div>
		</div>

		<div class="form-group">
			<label for="lastname" class="col-sm-3 control-label">{{ 'profile.lastname' | translate }}</label>
			<div class="col-sm-9">
				<label id="lastname" class="form-control">{{user.lastname}}</label>
			</div>
		</div>

		<div class="form-group">
			<label for="userName" class="col-sm-3 control-label">{{ 'profile.username' | translate }}</label>
			<div class="col-sm-9">
				<label id="userName" class="form-control">{{user.userName}}</label>
			</div>
		</div>

		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">{{ 'profile.email' | translate }}</label>
			<div class="col-sm-9">
				<label id="email" class="form-control">{{user.email}}</label>
			</div>
		</div>

		<div class="form-group">
			<label for="gender" class="col-sm-3 control-label">{{ 'profile.gender' | translate }}</label>
			<div class="col-sm-9">
			 	<label id="gender" *ngIf="user.gender==0" class="form-control">{{ 'profile.male' | translate }}</label>
			 	<label id="gender" *ngIf="user.gender==1" class="form-control">{{ 'profile.female' | translate }}</label>
			 	<label id="gender" *ngIf="user.gender==2" class="form-control">{{ 'profile.other' | translate }}</label>
			</div>
		</div>

		<div class="form-group">
			<label for="occupation" class="col-sm-3 control-label">{{ 'profile.occupation' | translate }}</label>
			<div class="col-sm-9">
				<label id="occupation" class="form-control">{{user.occupation}}</label>
			</div>
		</div>

		<div class="form-group">
			<label for="country" class="col-sm-3 control-label">{{ 'profile.country' | translate }}</label>
			<div class="col-sm-9">
				<label id="country" class="form-control">{{user.country}}</label>
			</div>
		</div>

		<div class="form-group">
			<label for="state" class="col-sm-3 control-label">{{ 'profile.state' | translate }}</label>
			<div class="col-sm-9">
				<label id="state" class="form-control">{{user.state}}</label>
			</div>
		</div>

		<div class="form-group">
			<label for="city" class="col-sm-3 control-label">{{ 'profile.city' | translate }}</label>
			<div class="col-sm-9">
				<label id="city" class="form-control">{{user.city}}</label>
			</div>
		</div>

		<div class="form-group">
			<label for="birthday" class="col-sm-3 control-label">{{ 'profile.birthday' | translate }}</label>
			<div class="col-sm-9">
				<label id="birthday" class="form-control">{{day}}/{{month}}/{{year}}</label>
			</div>
		</div>		

		<div class="row col-sm-3">
 			<a [routerLink]="['/profile/edit']" >
 				<button class="btn btn-primary pull-right">{{ 'profile.editProfile' | translate }}</button>
 			</a>
 		</div>   	

	</div>
</div>