<div class="col-lg-8 col-lg-offset-2">
	<h1 class="h1-strong">{{title}}</h1>
	
	<div>
	    <a [routerLink]="['/profile/'+user._id]" [routerLinkActive]="['active']">
			<span class="glyphicon glyphicon-user"></span>
	        My Profile
	    </a>

	    <a [routerLink]="['/profile/my-reviews']" [routerLinkActive]="['active']">
			<span class="glyphicon glyphicon-user"></span>
	        My Reviews
	    </a>

	    <a [routerLink]="['/profile/messages']" [routerLinkActive]="['active']">
			<span class="glyphicon glyphicon-envelope"></span>
	        Inbox
	    </a>
	</div>

	<div id="reviews">
		<div *ngFor="let publication of publications" class="item-publication">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="publication-image">
						<!-- Get image from building binded to publication -->
					</div>
					<div class="building-text pull-left">
						<p>
						Rate: {{publication.rate}}
						</p>
						<a [routerLink]="['/building/'+publication.buildingId]">
						Address: {{publication.address.street}}, {{publication.address.buildingNumber}}. {{publication.address.country}}.
						</a>
						<p>
						Review: {{publication.text}}
						</p>
					</div>

					<div class="pull-right" *ngIf="publication.user == identity._id">

						&nbsp;
						<a href="#myModal{{publication._id}}" class="btn btn-lg btn-danger" data-toggle="modal" *ngIf="showImage != publication._id">
							<span class="glyphicon 	glyphicon-trash"></span>
						</a>

						<!-- Modal HTML -->
						<div id="myModal{{publication._id}}" class="modal fade">
						    <div class="modal-dialog">
						        <div class="modal-content">
						            <div class="modal-header">
						                <h5 class="modal-title">Are you sure?</h5>
						                <button type="button" class="close" data-dismiss="modal">&times;</button>
						            </div>
						            <div class="modal-body">
						                <p>Performing this action will permanently remove review with address: {{publication.address.street}}, {{publication.address.buildingNumber}}.</p>
						            </div>
						            <div class="modal-footer">
						                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						                <button type="button" class="btn btn-primary" (click)="deleteReview(publication._id)" data-dismiss="modal">Erase Review</button>
						            </div>
						        </div>
						    </div>
						</div>	
					</div>






					<div class="pull-right" *ngIf="publication.file[0]">
						<button class="btn btn-warning" pull-right (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id">
							<span class="glyphicon 	glyphicon-picture"></span>
						</button>
						<button class="btn btn-danger" pull-right (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id">
							<span class="glyphicon 	glyphicon-remove-circle"></span>
						</button>
					</div>

					<div class="col-lg-12" *ngIf="publication.file[0] != 'null' && showImage == publication._id">
						<br/>
						<img src="{{url+'get-image/'+publication.file[0]}}" class="col-lg-12" width="400" height="250"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
