<div class="col-lg-8 col-lg-offset-2">
  	<div class="google-places-container"> 
    	<h2>{{title}}</h2> 
  		<input ngx-google-places-autocomplete [options]= 
   		'options'  (onAddressChange)="AddressChange($event)" class="form-control"/> 
  		{{ formattedaddress }} 
  </div>

	<button type="button" (click)="getBuildingsByAddress(1)">Search</button>

  	<div id="buildings">
		<div *ngFor="let building of buildings" class="item-building">
			<div class="panel panel-default">
				<div class="panel-body" (click)="explicitSearch(building._id)" style="cursor: pointer;">
					<div class="building-image">
						<!-- Image fetching could be more elegant -->
						<a href="#">
							<img src="{{url+'get-image/'+building.file[0]}}" *ngIf="building.file[0]" width="300" height="150"/>
							<img src="assets/building.png" class="building-default" *ngIf="!building.file[0]" width="350" height="200"/>
						</a>
					</div>
					<div class="building-text pull-left">
						<h4>{{building.address.street + ", " + 
							building.address.buildingNumber + ". " +
							building.address.state + ", " + 
							building.address.country}}
						</h4>
						<p>
						Global Rate: {{building.globalRate}}
						</p>
						<p>
						Number of reviews: {{building.reviewsCounter}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

