<div class="col-md-4 col-md-offset-4">
  	<div class="google-places-container"> 
	<div class="input-group">
		<input ngx-google-places-autocomplete [options]= 
	   		'options'  (onAddressChange)="AddressChange($event)" placeholder="{{ 'search.searchForAnAddress' | translate }}" aria-label="Search" class="form-control"/> 
	  		{{ formattedaddress }}
		<div class="input-group-btn">
			<button type="button" class="btn btn-default" aria-label="Left Align" data-toggle="modal" data-target="#helpModal">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
			</button>
			<button class="btn btn-primary" type="submit" (click)="getBuildingsByAddress(1)">{{ 'search.search' | translate }}</button>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="helpModalLabel">{{ 'search.helpModalLabel' | translate }}</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{{ 'search.modalBody' | translate }}<br/><br/>
					{{ 'search.modalBody2' | translate }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'search.modalFooter' | translate }}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 text-center" *ngIf="status == 'no entries yet'">
		<br/>
		{{'search.noEntriesYet' | translate }}
	</div>

  	<div class="buildings-search">
		<div *ngFor="let building of buildings" class="item-building">
			<div class="panel panel-default">
				<div class="panel-body" (click)="explicitSearch(building._id)" style="cursor: pointer;">
					<div class="building-image">
						<!-- Image fetching could be more elegant -->
						<div align="center">
							<img src="{{url+'get-image/'+building.file[0]}}" *ngIf="building.file[0]" width="300" height="150"/>
							<img src="assets/building.png" class="building-default" *ngIf="!building.file[0]" width="250" height="150"/>
						</div>
					</div>
					<div class="building-text pull-left">
						<h4>{{building.address.street + ", " + 
							building.address.buildingNumber}}
							<span *ngIf="building.address.apartment">, {{building.address.apartment}}</span>
							. 
							{{building.address.state + ", " + 
							building.address.country}}
						</h4>
						<p>
						{{ 'building.headerGlobal' | translate }}:
							<span *ngIf="building.globalRate">
								<li style="display: inline-block; margin: 2px;" *ngFor="let n of numSequence(building.globalRate)" class="list-inline">
									<span class="fa fa-star" style="color: orange;"></span>
								</li>

								<li style="display: inline-block; margin: 2px;" *ngFor="let n of numSequence(5-building.globalRate)" class="list-inline">
									<span class="fa fa-star"></span>
								</li>
							</span>

							<span *ngIf="!building.globalRate">
									---
							</span>
						</p>
						<p>
						{{ 'building.numberOfReviews' | translate }}: {{building.reviewsCounter}}
						</p>
						<span class="date" class="text-muted">
							{{ (building.created_at | amFromUnix) | amTimeAgo}}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class = "row">
		<ul class="pager pull-left" *ngIf="commingFromHome">
			<li *ngIf="page > 1"><a [routerLink]="['/home', prev_page]">
			{{ 'general.previous' | translate }}</a></li>
		</ul>
		<ul class="pager pull-right" *ngIf="commingFromHome">
			<li *ngIf="pages!=page && pages>1"><a [routerLink]="['/home', next_page]">
			{{ 'general.next' | translate }}</a></li>
		</ul>

		<ul class="pager pull-left" *ngIf="!commingFromHome">
			<!-- This must pass buildings, so then search can traverse through it with the page -->
			<li *ngIf="page > 1">
       			<button type="button" (click)="getBuildingsByAddress(prev_page)" >{{ 'general.previous' | translate }}</button>
   			</li>
   		</ul>
   		<ul class="pager pull-right" *ngIf="!commingFromHome">
   			<li *ngIf="pages != page && pages>1">
       			<button type="button" (click)="getBuildingsByAddress(next_page)" >{{ 'general.next' | translate }}</button>
   			</li>
		</ul>
	</div>

</div>

