<div class="col-12 col-md-4 col-md-offset-4">
	<h1 class="h1-strong">{{ 'home.register' | translate }}</h1>

	<div class="alert alert-success" *ngIf="status == 'success'">
		{{ 'register.registerSuccessful' | translate }}, <a [routerLink]="['/login']">{{ 'login.login' | translate }} </a> 
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error' || status == 'dataMissing'">
		{{ 'register.registerFailed' | translate }}
	</div>

	<div class="alert alert-danger" *ngIf="status == 'userTaken'">
		{{ 'register.registerFailedUserTaken' | translate }}
	</div>

	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="form-horizontal">
		
		<div class="form-group">
			<div class="col-sm-6">
				<input id="name" type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" placeholder="{{ 'register.placeholderName' | translate }}*" required pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,20}" maxlength="20"/>
				<span *ngIf="!name.valid && name.touched">
						{{ 'register.nameObligatory' | translate }}
				</span>
  				<span *ngIf="name.errors?.required && status == 'dataMissing'" class="invalid-feedback">
					{{ 'general.datafieldMissing' | translate }}
				</span>
			</div>

			<div class="col-sm-6">
				<input id="lastname" type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname"class="form-control" placeholder="{{ 'register.placeholderLastname' | translate }}" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{0,25}" maxlength="25"/>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<input id="username" type="text" name="userName" #userName="ngModel" [(ngModel)]="user.userName" class="form-control"  placeholder="{{ 'register.placeholderUsername' | translate }}*" required maxlength="20"/>
				<span *ngIf="!userName.valid && userName.touched">
						{{ 'register.usernameObligatory' | translate }}
				</span>
				<span *ngIf="userName.errors?.required && status == 'dataMissing'" class="invalid-feedback">
					{{ 'general.datafieldMissing' | translate }}
				</span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<input id="email" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="{{ 'login.email' | translate }}*" maxlength="50"/>
				<span *ngIf="!email.valid && email.touched">
						{{ 'register.emailInvalid' | translate }}
				</span>
				<span *ngIf="email.errors?.required && status == 'dataMissing'" class="invalid-feedback">
					{{ 'general.datafieldMissing' | translate }}
				</span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-6">
				<input id="password" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" placeholder="{{ 'login.password' | translate }}*" required maxlength="20"/>
				<span *ngIf="!password.valid && password.touched">
						{{ 'register.passwordObligatory' | translate }}
				</span>
				<span *ngIf="password.errors?.required && status == 'dataMissing'" class="invalid-feedback">
					{{ 'general.datafieldMissing' | translate }}
				</span>
			</div>

			<div class="col-sm-6">
				<input id="confirm_password" #confirm_password type="password" class="form-control" placeholder="{{ 'register.passwordConfirm' | translate }}*" required  (input)="confirm_password.value" maxlength="20"/>
					<span style="color:red" *ngIf="password.value!=confirm_password.value && password.touched">
						{{ 'register.passwordInvalid' | translate }}
					</span>
					<span style="color:green" *ngIf="password.value==confirm_password.value && password.value.length>0">
						{{ 'register.passwordOk' | translate }}
					</span>
			</div>
		</div>

		<input type="submit" value="{{ 'home.register' | translate }}" class="btn btn-primary btn-block" />
	</form>
</div>
