<div class="col-12 col-md-4 col-md-offset-4">
	<h1 class="h1-strong">{{title}}</h1>

	<div class="alert alert-success" *ngIf="status == 'success'">
		Register completed successfully, <a [routerLink]="['/login']">login </a> 
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		Register failed, try again
	</div>

	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="form-horizontal">
		
		<div class="form-group">
			<div class="col-sm-6">
				<input id="name" type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" placeholder="Name" required/>
				<span *ngIf="!name.valid && name.touched">
						Name is obligatory 
				</span>
			</div>

			<div class="col-sm-6">
				<input id="lastname" type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname"class="form-control" placeholder="Lastname"/>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<input id="username" type="text" name="userName" #userName="ngModel" [(ngModel)]="user.userName" class="form-control"  placeholder="Username" required/>
				<span *ngIf="!userName.valid && userName.touched">
						Username is obligatory 
				</span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12">
				<input id="email" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email"/>
				<span *ngIf="!email.valid && email.touched">
						Type valid email
				</span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-6">
				<input id="password" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" placeholder="Password" required/>
				<span *ngIf="!password.valid && password.touched">
						Password is obligatory 
				</span>
			</div>

			<div class="col-sm-6">
				<input id="confirm_password" #confirm_password type="password" class="form-control" placeholder="Confirm Password" required (input)="confirm_password.value"/>
					<span style="color:red" *ngIf="password.value!=confirm_password.value && password.touched">
						Password doesn't match
					</span>
					<span style="color:green" *ngIf="password.value==confirm_password.value && password.value.length>0">
						Password Ok
					</span>
			</div>
		</div>

		<input type="submit" value="{{title}}" class="btn btn-primary btn-block"[disabled]="!registerForm.form.valid || password.value!=confirm_password.value || password.value.length<1"/>
	</form>
</div>
