<div class="navigation col-lg-12">  
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <ul class="nav navbar-nav" *ngIf="identity">
        <li>
          <a [routerLink]="['/write-a-review']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-pencil"></span>
            Write A Review
          </a>
        </li>

        <li>
          <a [routerLink]="['/search']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-search"></span>
            Search
          </a>
        </li>

        <div class="navbar-header">
            <a href="#" class="navbar-brand">{{title}}</a>
        </div>

        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
            Home
          </a>
        </li>

        <li>
          <a [routerLink]="['/profile/configuration']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            {{identity.name}}
          </a>
        </li>

        <li>
          <a class="pointer" (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span>
            Log out
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">

        <div class="navbar-header">
            <a href="#" class="navbar-brand">{{title}}</a>
        </div>

        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>

        <li>
          <a [routerLink]="['/register']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Register
          </a>
        </li>
      </ul>
    </div>

  </nav>
</div>

<router-outlet></router-outlet>