<div class="col-lg-3" style="margin-top: 100px;">
	<h2>{{title}}</h2>

	<div class="list-group sidebar-admin">
		<a [routerLink]="['send']" [routerLinkActive]="['active']" class="list-group-item"> Send Message </a>
		<a [routerLink]="['received/1']" [routerLinkActive]="['active']" class="list-group-item">Received Messages</a>
		<a [routerLink]="['sent/1']" [routerLinkActive]="['active']" class="list-group-item">Sent Messages</a>
		<a [routerLink]="['/home']" [routerLinkActive]="['active']" class="list-group-item">Home</a>
	</div>
</div>

<div class="col-lg-8 col-lg-offset-1">
	<router-outlet></router-outlet>
</div>