<div class="col-lg-3" style="margin-top: 100px;">
	<h2>{{ 'message.mainTitle' | translate }}</h2>

	<div class="list-group sidebar-admin">
		<a [routerLink]="['send']" [routerLinkActive]="['active']" class="list-group-item">{{ 'message.sendMessage' | translate }}</a>
		<a [routerLink]="['received/1']" [routerLinkActive]="['active']" class="list-group-item">{{ 'message.receivedMessages' | translate }}</a>
		<a [routerLink]="['sent/1']" [routerLinkActive]="['active']" class="list-group-item">{{ 'message.sentMessages' | translate }}</a>
		<a [routerLink]="['/home']" [routerLinkActive]="['active']" class="list-group-item">{{ 'message.home' | translate }}</a>
	</div>
</div>

<div class="col-lg-8 col-lg-offset-1">
	<router-outlet></router-outlet>
</div>