<div class="col-md-6 col-md-offset-3">
	<h1 class="h1-strong">{{ 'building.title' | translate }}</h1>
	
		<div class="panel-body">
			<div class="building-text col-md-6 pull-left">
				<div>
					<h1 style="display: inline;">
					{{ 'building.headerGlobal' | translate }}: 
							<li style="display: inline-block; margin: 2px;" *ngFor="let n of numSequence(globalRate)" class="list-inline">
							<span class="fa fa-star" style="color: orange;"></span>
							</li>
							<li style="display: inline-block; margin: 2px;" *ngFor="let n of numSequence(5-globalRate)" class="list-inline">
								<span class="fa fa-star"></span>
							</li>
						<br><small>
						{{building.address.street + ", " + 
						building.address.buildingNumber}}
						<span *ngIf="building.address.apartment">, {{building.address.apartment}}</span>
						. 
						{{building.address.state + ", " + 
						building.address.country}}
				    </small></h1>
				</div>

				<div>
					<h4><b>{{ 'building.headerAverage' | translate }}</b></h4>

					<p>
					{{ 'building.infoNoise' | translate }}: {{globalNoise}} <br>
					{{ 'building.infoPriceBenefit' | translate }}: {{globalPriceBenefit}} <br>
					{{ 'building.infoLandlordSupport' | translate }}: {{globalLandlordSupport}} <br>
					{{ 'building.infoMaintenance' | translate }}: {{globalMaintenance}} <br>
					</p>

				    <span class="date" class="text-muted">
						{{ (building.created_at | amFromUnix) | amTimeAgo}}
				    	
					</span>
				</div>
			</div>

			<div class="building-image col-md-6 pull-right"> 
				<div class="building-default" *ngIf="building.file.length == 1" align="center">
					<img src="{{url+'get-image/'+building.file[0]}}" width="350" height="200"/>
				</div>

				<!--Carousel Wrapper-->
				<div id="building-image-gallery" class="carousel slide" data-ride="carousel" *ngIf="building.file.length >1">
				  	<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#building-image-gallery" data-slide-to="0" class="active"></li>
						<li data-target="#building-image-gallery" *ngFor="let image of building.file.slice(1); let i = index" data-slide-to="{{i+1}}"></li>

					</ol>

					<!-- Wrapper for slides -->
				  	<div class="carousel-inner" role="listbox" >
					    <div class="item active">
					    	<img src="{{url+'get-image/'+building.file[0]}}" alt="0">
					    </div>
						
						<div class="item" *ngFor="let image of building.file.slice(1); let i = index">
							<img src="{{url+'get-image/'+image}}" alt="{{i+1}}">
						</div>
					</div>
					

					<!-- Controls -->
					<a class="left carousel-control" href="#building-image-gallery" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">{{ 'general.previous' | translate }}</span>
					</a>
					  
					<a class="right carousel-control" href="#building-image-gallery" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">{{ 'general.next' | translate }}</span>
					</a>
				</div>

				<div class="building-default" *ngIf="!building.file[0]">
					<img src="assets/building.png" width="350" height="200"/>
				</div>
			</div>
		</div>

  	<div id="publications" class="col-md-11">
  		<hr>
  		<h4>
			{{ 'building.numberOfReviews' | translate }}: {{reviewsCounter}}
		</h4>
		<div *ngFor="let publication of publications" class="item-publication">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="publication-text">
						<div class="row" *ngIf="publication.rate">
							<h4 style="display: inline;">{{ 'building.reviewsRate' | translate }}:</h4>
								<li style="display: inline-block; margin: 2px;" *ngFor="let n of numSequence(publication.rate)" class="list-inline">
									<span class="fa fa-star" style="color: orange;"></span>
								</li>

								<li style="display: inline-block; margin: 2px;" *ngFor="let n of numSequence(5-publication.rate)" class="list-inline">
									<span class="fa fa-star"></span>
								</li>
						</div>
						<div class="row" *ngIf="!publication.rate">				
							<h4>{{ 'building.reviewsRate' | translate }}: --</h4>
						</div>

						<div class="row">
							<blockquote style="font-size:16px;">
								<p>
									{{publication.text}}
								</p>
							</blockquote>
						</div>

						<div>
							<div class="pull-left">
								<button class="btn btn-success" (click)="sendMessage(publication.user, refAddress)" *ngIf="publication.canBeContacted == 1" style="margin:5px;">
									{{ 'building.canBeContacted' | translate }}
									<span class="glyphicon 	glyphicon-envelope"></span>
								</button>

								<button class="btn btn-danger" pull-left *ngIf="publication.canBeContacted == 0">
									{{ 'building.cannotBeContacted' | translate }}
									<span class="glyphicon 	glyphicon-envelope" style="margin:5px;"></span>
								</button> 
							</div>

							<div *ngIf="publication.file[0]" class="pull-right">
								<button class="btn btn-warning" pull-right (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id" style="margin:5px;">
									{{ 'general.images' | translate }}
									<span class="glyphicon 	glyphicon-picture"></span>
								</button>
								<button class="btn btn-danger" pull-right (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id" style="margin:5px;">
									<span class="glyphicon 	glyphicon-remove-circle"></span>
								</button>
							</div>
						</div>

						<div class="col-md-12">
							<span class="date" class="text-muted">
								{{ (publication.created_at | amFromUnix) | amTimeAgo}}
							</span>
						</div>
					</div>
				</div>

				<div class="publication-default" *ngIf="publication.file.length == 1 && showImage == publication._id" align="center">
					<img src="{{url+'get-image/'+publication.file[0]}}" width="350" height="200"/>
				</div>
				
				<!--Carousel Wrapper-->
				<div id="pub-image-gallery" class="carousel slide" data-ride="carousel" *ngIf="publication.file.length>1 && showImage == publication._id">

				  	<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#pub-image-gallery" data-slide-to="0" class="active"></li>
						<li data-target="#pub-image-gallery" *ngFor="let image of publication.file.slice(1); let i = index" data-slide-to="{{i+1}}"></li>

					</ol>

					<!-- Wrapper for slides -->
				  	<div class="carousel-inner" role="listbox" >
					    <div class="item active">
					    	<img src="{{url+'get-image/'+publication.file[0]}}" alt="0">
					    </div>
						
						<div class="item" *ngFor="let image of publication.file.slice(1); let i = index">
							<img src="{{url+'get-image/'+image}}" alt="{{i+1}}" >
						</div>
					</div>
					

					<!-- Controls -->
					<a class="left carousel-control" href="#pub-image-gallery" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">{{ 'general.previous' | translate }}</span>
					</a>
					  
					<a class="right carousel-control" href="#pub-image-gallery" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">{{ 'general.next' | translate }}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
