<div class="col-lg-8 col-lg-offset-2">
	<h1 class="h1-strong">{{title}}</h1>
	
		<div class="panel-body">
			<div class="building-text pull-left">
				<h4>{{building.address.street + ", " + 
					building.address.buildingNumber}}
					<span *ngIf="building.address.apartment">, {{building.address.apartment}}</span>
					. 
					{{building.address.state + ", " + 
					building.address.country}}
				</h4>

				<p>
				Global Rate: {{building.globalRate}}
				</p>

				<h5>Average Rating</h5>
				<p>
				Noise: {{building.globalNoise}} <br>
				Price-Benefit: {{building.globalPriceBenefit}} <br>
				Landlord Support: {{building.globalLandlordSupport}} <br>
				Maintenance: {{building.globalMaintenance}}
				</p>

				<p>
				Number of reviews: {{building.reviewsCounter}}
				</p>
			</div>
		</div>

  	<div id="publications">
		<div *ngFor="let publication of publications" class="item-publication">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="publication-text pull-left">
						<h4>Review's Rate: {{publication.rate}}
						</h4>
						<p>
						{{publication.text}}
						</p>
						<p>
						Can be contacted: {{publication.canBeContacted}}
						</p>
					</div>

					<div class="col-lg-12" *ngIf="publication.file[0]">
						<button class="btn btn-warning" pull-right (click)="showThisImage(publication._id)" *ngIf="showImage != publication._id">
							<span class="glyphicon 	glyphicon-picture"></span>
						</button>
						<button class="btn btn-danger" pull-right (click)="hideThisImage(publication._id)" *ngIf="showImage == publication._id">
							<span class="glyphicon 	glyphicon-remove-circle"></span>
						</button>
					</div>

					<div class="col-lg-12" *ngIf="publication.file[0] != 'null' && showImage == publication._id">
						<img src="{{url+'get-image/'+publication.file[0]}}" class="col-lg-12" width="400" height="250"/>
					</div>
					<!-- 
					<div>
						<span class="date">
							{{(building.created_at | amFromUnix) | amLocale:'en' | amTimeAgo }}
						</span>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
	
</div>