<div class="col-lg-8 col-lg-offset-2">
	<h1 class="h1-strong">{{title}}</h1>

	<div class="alert alert-success" *ngIf="status == 'success'">
		Data actualized successfully
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		Error, data not actualized
	</div>

	<div>
		<a [routerLink]="['/profile/'+user._id]" [routerLinkActive]="['active']">
            Cancel
        </a>
    </div>

	<form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
		<p>
			<label>Name</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required class="form-control"/>
			<span *ngIf="!name.value && name.touche">Name is obligatory
			</span>
		</p>

		<p>
			<label>Lastname</label>
			<input type="text" name="lastname" #lastname="ngModel" [(ngModel)]="user.lastname"  class="form-control"/>
		</p>

		<p>
			<label>Username</label>
			<input type="text" name="userName" #userName="ngModel" [(ngModel)]="user.userName" required class="form-control"/>
			<span *ngIf="!userName.value && userName.touche">Username is obligatory
			</span>
		</p>

		<p>
			<label>Email</label>
			<input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" required class="form-control"/>
			<span *ngIf="!email.value && email.touche">Email is obligatory
			</span>
		</p>
		
		<p>
			<label>Gender: </label>
			  <input type="radio" name="gender" value=0 #gender="ngModel" [(ngModel)]="user.gender">
			  <label for="male">Male</label><br>
			  <input type="radio" name="gender" value=1 #gender="ngModel" [(ngModel)]="user.gender">
			  <label for="female">Female</label><br>
			  <input type="radio" name="gender" value=2 #gender="ngModel" [(ngModel)]="user.gender">
			  <label for="other">Other</label>
		</p>

		<p>
			<label>Occupation: </label>
			<input type="text" name="occupation" #occupation="ngModel" [(ngModel)]="user.occupation" class="form-control"/>
		</p>

		<!-- Missing: Address in form of list-->
		<p>
			<label>Country: </label>
			<input type="text" name="country" #country="ngModel" [(ngModel)]="user.country" class="form-control"/>
			<label>State: </label>
			<input type="text" name="state" #state="ngModel" [(ngModel)]="user.state" class="form-control"/>
			<label>City: </label>
			<input type="text" name="city" #city="ngModel" [(ngModel)]="user.city" class="form-control"/>
		</p>

		<p>
			<label>Birthday:</label>
			<input type="date" name="birthday" #birthday="ngModel" [(ngModel)]="user.birthday" class="form-control">
		</p>


		<input type="submit" value="{{title}}" class="btn btn-warning"[disabled]="!userEditForm.form.valid"/>

	</form>
</div>